@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px #00000017;
    ;
}

a:active {
    text-decoration: wavy;
}

body {
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #7D6167;
    margin: 0px;
    color: white;
    background-image: url(./assets/foresta.webp);
    background-size: cover;
    height: 300px;
    text-align: center;
    text-transform: uppercase;
}

h5 {
    color: white;
}

h1 {
    margin-top: 0px;
    font-size: 75px;
    padding: 75px;
    padding-bottom: 60px;

}

nav a {

    text-transform: uppercase;
    color: #9E4770;
    font-size: 30px;


}

.link-nav {
    text-align: center;
    margin-top: 30px;

    padding: 12px;
}

.div1 {
    font-size: larger;
    font-weight: 400;
    width: fit-content;
    margin-top: 100px;
    margin-right: 400px;
    margin-left: 18px;
    border: 2px solid #9E4770;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.063);
}

.div2 {
    font-size: larger;
    font-weight: 400;

    margin-top: 40px;
    margin-right: 18px;
    margin-left: 400px;
    border: 2px solid #9E4770;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.063);
    display: inline-block;
}

.img-home {
    width: 400px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-image: url(./assets/foresta.webp);
    height: 52px;
    color: white;
    text-align: right;
    font-weight: 200;
    font-size: large;
    font-family: Verdana, sans-serif
}

.div-serv {
font-size:28px;
    background-color: #fffefe;
    text-align: center;
    align-content: center;
border: 2px solid #9E4770 ;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 40px;
    padding: 40;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.063)
}

.sepoltura {
    width: 997px;
}

.sepoltura2 {
    width: 997px;
    margin-bottom: 40px;
}
.a-cont{
    text-decoration: none;
    color: #9E4770;
}
.logo2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}